@model MVC5Start.Models.Emails.IdentityEmail
Content-Type: text/html; charset=utf-8

<html>
<head>
    <title>@Model.Subject</title>
</head>
<body>
    <h2>Hi @Model.FullName,</h2>
    <br />
    <p>@Model.Body</p>
    <br />
    <p>Thanks,</p>
    <p>MyDocShelf</p>
    <br />
    <footer>This is an automated message. Please do not reply!</footer>
</body>
</html>