@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>MVC5Start</h1>
    </div>
    <h3>Features:</h3>
    <ul>
        <li>Forms authentication</li>
        <li>Role-based authorization</li>
        <li>Two-Factor Authentication using Google Authenticator and QR code generation</li>
        <li>Email confirmation flow with live sent emails</li>
        <li>Password reset flow with live sent emails</li>
        <li>Google ReCaptcha for user registration</li>
        <li>Security using ASP.NET Identity 2.1.0 with Int32 as PKs</li>
        <li>Normalized security table names and schema</li>
        <li>Users have IsDiabled flag, FirstName, LastName and LastLoginDate extra properties</li>
        <li>Roles have Description extra property</li>
        <li>Username is identical with email</li>
        <li>Enhanced sign-in process</li>
        <li>No EntityFramework, not even in ASP.NET Indeityty</li>
        <li>Emails using Postal.MVC and Razor templates</li>
        <li>Very fast Data access using StackExchange.Dapper</li>
        <li>Profiling using StackExchange.MiniProfiler</li>
        <li>Exception handling using StackExchange.Exceptional</li>
        <li>Dependency injection using SimpleInjector</li>
        <li>Background processing using Hangfire with jobs persisted in the database</li>
        <li>Attribute routing</li>
    </ul>
</div>